@media only screen and (max-width: 1030px) {
  .widget, .progress-widgets > * {
    flex-basis: 100%;
  }
}

@media only screen and (max-width: 850px) {

  /* .widgets > *, .tasks > *, .progress-widgets > * {
    flex-basis: 100%;
  } */
}

.widgets, .progress-widgets {
    flex-wrap: wrap;
}
