@media only screen and (max-width: 1280px) {
  .widget {
    flex-basis: 50%;
  }
  .widgets > *, .tasks > * {
    flex-basis: 50%;
  }
}

@media only screen and (max-width: 850px) {
  .widget {
    flex-basis: 100%;
  }
  .widgets > *, .tasks > * {
    flex-basis: 100%;
  }
}

.widgets {
    flex-wrap: wrap;
}
