.note-container {
    background-color: white;
    display: inline-block;
}

.note-list {
    width: 200px;
    display: flex;
    flex-direction: column;
}

.user-profile>img {
    width: 20%;
    height: 20%;
    background-color: gray;
    border-radius: 50%;
}

.user-profile {
    vertical-align: middle;
    display: inline-block;
}