.side-bar {
    width: 10%;
    height: 100vh;
    min-width: 250px;
    padding-left: 50px;
}

p, nav>* {
    display: flex;
}

h2 {
    margin-left: 5px;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#logo {
    width: 30px; 
    margin: 10px;
}

.plus-button {
    position: absolute !important;
    bottom: 12%;
    right: 50%;
}

  @media only screen and (max-width: 750px) {
    .side-bar {
      width: 0% !important;
      min-width: 0;
      visibility: hidden;
    }
  }