.nav-bar {
    height: 100vh;
    min-width: 250px;
}

p, nav>* {
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    margin-left: 5px;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


#logo {
    width: 40px;
    height: 40px;
}

.plus-button {
    position: absolute !important;
    bottom: 12%;
    right: 50%;
    margin-right: -28px !important;
}