.nav-bar {
    width: 10%;
    height: 100vh;
    min-width: 250px;
    padding-left: 50px;
}

p, nav>* {
    display: flex;
    justify-content: center;
}

h2 {
    margin-left: 5px;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#logo {
    width: 30px; 
    margin: 10px;
}

.plus-button {
    position: absolute !important;
    bottom: 12%;
    right: 50%;
    margin-right: -28px !important;
}

@media only screen and (max-width: 1280px) {
    .nav-bar {
        padding-left: 0;
      }
  }

  @media only screen and (max-width: 750px) {
    .nav-bar {
      width: 0% !important;
      min-width: 50px;
      background-color: transparent;
    }
  }