.plant-page-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.plant-list {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.search-field {
    width: 30%;
    background-color: white;
    /* border-radius: 20px; */
    margin-bottom: 1%;
}

.plus-button {
    position: fixed !important;
    bottom: 11%;
    left: 65%;
    background-color: white !important;
}

.plus-icon {
    color: rgb(71, 71, 72);
    scale: 3;
}

.icon2 {
    position: absolute;
    color: white;
    scale: 3;
}


.plant-card {
    min-height: 200px;
    max-height: 300px;
    display: flex;
    background-color: white;
    position: relative;
    min-width: 250px;
}

.image-gallery > img {
    background-color: gray;
    width: 100%;
    border-radius: 20px;
    max-height: 100%;
    object-fit: cover;
    min-width: 100px;
}

.image-gallery {
    width: 40%;
    float: left;
    margin: 5%;
    position: relative;
}

.plant-info-section {
    max-width: 60%;
    margin-right: 3%;
    overflow-y: auto
}

.alerts {
    border-radius: 20px;
    background-color: #ff0808;
    display: inline-block;
    padding: 5px 13px 5px 5px;
    color: white;
    box-shadow: 0px 1px #700101;
}

.alerts-icon {
    vertical-align: bottom;
}

.new-plant-form-container {
    padding: 20px;
    overflow-x: hidden;
}

.plant-name-field {
    display: block !important;
    margin-bottom: 20px !important
}

.watering-field {
    margin-bottom: 10px;
}

.confirm-add-button {
    float: right;
}