.plant-page-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 80%;
}

.plant-list {
    display: flex;
    flex-direction: column;
    position: relative;
}

.plant-list-v2 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /* flex-direction: column; */
    justify-content: space-between;
    overflow-y: auto;
    background-color: white;
    justify-content: flex-start;
    height: 100vh
    /* flex-wrap: wrap; */
    /* max-height: 100vh; */
    /* width: 40%; */
    /* position: relative; */
}

.plant-list-v2 >* {
    flex: 0 0 33%;
    height: 50%;
}

.search-field {
    width: 30%;
    background-color: white;
    /* border-radius: 20px; */
    margin-bottom: 1%;
}

.plus-button-v2 {
    position: fixed !important;
    bottom: 12%;
    right: 35%;
}

.plus-button {
    position: sticky !important;
    position: -webkit-sticky; /* Safari */
    bottom: 11%;
    /* hack for MUI dialog causing scrollbar jump
    https://github.com/creativetimofficial/ct-material-kit-pro-react/issues/81*/
    left: 100%;
    margin-right: 10% !important;
}

.plus-icon {
    color: rgb(71, 71, 72);
    scale: 3;
}

.icon2 {
    position: absolute;
    color: white;
    scale: 3;
}


.plant-card {
    min-height: 200px;
    max-height: 300px;
    display: flex;
    background-color: white;
    position: relative;
    min-width: 250px;
}

.image-gallery > img, .plant-profile-img {
    background-color: gray;
    width: 100%;
    border-radius: 20px;
    max-height: 100%;
    object-fit: cover;
    min-width: 100px;
}

.image-gallery {
    width: 40%;
    float: left;
    margin: 5%;
    position: relative;
}

.plant-info-section {
    max-width: 60%;
    margin-right: 3%;
}

.alert-status {
    border-radius: 20px;
    background-color: #ff0808;
    display: inline-block;
    padding: 5px 13px 5px 5px;
    color: white;
    box-shadow: 0px 1px #700101;
}

.ok-status {
    border-radius: 20px;
    background-color: #0ed95c;
    display: inline-block;
    padding: 5px 13px 5px 5px;
    color: white;
    box-shadow: 0px 1px #149846;
}

.ok-status, .alert-status {
    margin-bottom: 10px;
    position: absolute;
    left: 5%;
    bottom: 5%;
}


.status-icon  {
    vertical-align: text-top;
}

.ok-status-icon {
    margin-right: 3px;
}

.new-plant-form-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow-x: hidden;
}

.plant-name-field, .date-picker {
    display: block !important;
    margin-bottom: 20px !important
}

.watering-field {
    margin-bottom: 10px;
}

.confirm-add-button {
    float: right;
}

.plant-profile-img {
    max-width: 250px;
    margin-bottom: 20px
}

.choose-image {
    margin-bottom: 20px;
}

.actions {
    display: block;
    float: right;
    margin-top: 3%;
}

.action-button {
    margin: -3px !important;
}

.plant-detail-container {
    height: 100vh;
}

.side-bar {
    width: 20%;
    height: 100vh;
    min-width: 250px;
    /* overflow-y: auto; */
}

.history-list {
    overflow-y: auto;
    height: 100%;
}

  @media only screen and (max-width: 1000px) {
    .plant-list-v2 >* {
        /* make 2 columns instead of 3 */
        flex-basis: 49%;
    }
  }

  @media only screen and (max-width: 750px) {
    .side-bar {
      width: 0% !important;
      min-width: 0;
      visibility: hidden;
    }
    .plant-list-v2 >* {
        /* make 2 columns instead of 3 */
        flex-basis: 100%;
    }
  }